* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  overflow-y: auto !important;
  overflow-x: hidden;
  position: relative;
  background-color: #f0f0f0;
}

#root {
  width: 100%;
  height: auto;
  position: relative;
} 